.news-card {
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
  }
  
  .news-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
  }
  
  .card-title {
    font-weight: 600;
    line-height: 1.4;
  }

  .custom-button {
    border-color: #ffffff !important; /* 보라색 테두리 */
    background-color: #f3f0ff;
    color: #6c63ff !important;
    font-weight: 700; /* 글씨를 진하게 */ /* 텍스트 색상 */
  
    /* Hover 스타일 */
    transition: all 0.3s ease !important;
  }
  
 .custom-button:hover {
    background-color: #6c63ff !important; /* 보라색 배경 */
    color: #ffffff !important; /* 흰색 텍스트 */
  }
