.container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.search {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.header {
  width: 61px;
  height: 56px;
}

.header_bell {
  width: 24px;
  height: 28px;
}

.header_mypage {
  width: 27px;
  height: 24px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .header {
    width: 48px;
    height: 44px;
  }

  .header_bell {
    width: 20px;
    height: 24px;
  }

  .header_mypage {
    width: 24px;
    height: 20px;
  }

  .search {
    width: 80%;
  }
}
